html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
    margin-left: auto;
    margin-right: auto;
}

.controls-container {
  position: absolute;
  top: 350px;
  left: 50px;
}

.set-interval-btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.set-interval-btn:hover {
  background-color: #45a049;
  color: white;
}

intervalButton.style("position", "absolute");
intervalButton.style("top", video.position().top + video.height + "px");
intervalButton.style("left", video.position().left + "px");
